@model ReplayViewModel


	<a class="btn btn-danger" asp-area="Game" asp-controller="History" asp-action="Index">Back</a>
	<div class="checker white_checker" style="display:none"> </div>
	<div class="checker black_checker" style="display:none"> </div>


	<div class="square" style="display: none" id="ht"> </div>
	<div class="black_background" id="black_background"> </div>
	<div class="container-fluid">
		
		<div class="table" id="table">

			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>
			<div class="checker white_checker"> </div>

			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>
			<div class="checker black_checker"> </div>


			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="clear_float"> </div>

			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="clear_float"> </div>

			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="clear_float"> </div>

			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="clear_float"> </div>

			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="clear_float"> </div>

			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="clear_float"> </div>

			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="clear_float"> </div>

			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="square white_square"> </div>
			<div class="square black_square"> </div>
			<div class="clear_float"> </div>

		</div>
		<hr />
		<div class="container text-center">
			<div class="roww justify-content-center d-flex">
				<div class="col-8">
					<div class="row justify-content-center d-flex">
						<div class="col-3">
							<h4>White Moves</h4>
							@foreach (var move in Model.WhiteMoves)
							{
								<p>@move</p>
							}
						</div>
						<div class="col-3"></div>
						<div class="col-3">
							<h4>Black Moves</h4>
							@foreach (var move in Model.BlackMoves)
							{
								<p>@move</p>
							}
						</div>
					</div>
				</div>
			</div>
		</div>
		<hr />
	</div>
	


	<audio id="moveSound">
		<source src="sounds/move.mp3">
	</audio>
	<audio id="winSound">
		<source src="sounds/win.mp3">
	</audio>


@section Scripts {
	<script type="text/javascript" src="~/js/replay.js"></script>
}