@using Models.ViewModels;
@model UserFriendViewModel

<link rel="stylesheet" href="~/css/friend.css" />


<div class="friend-requests">
    @{
        foreach (var request in Model.Requests)
        {
            <div>@request.UserName</div>
            <form asp-area="Game" asp-controller="Friends" asp-action="Accept" asp-route-id="@request.Id">
                <button type="submit">Accept</button>
            </form>

        }
    }
</div>

<div class="friend-requests">
@{
	foreach(var friend in Model.Friends)
	{
            <div>@friend.UserName</div>
            <a asp-area="Game" asp-controller="Friends" asp-action="Profile" asp-route-id="@friend.Id">Open Profile</a>

	}
}
</div>