@using Models.ViewModels;


<link rel="stylesheet" href="~/css/friend.css" />

<div class="ex-tab container">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" id="friends-head" href="#friends-tab">Friends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="received-head" href="#received-tab">Received Requests</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" id="sended-head" href="#sended-tab">Sended Requests</a>
        </li>        
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#search-tab">Find Users</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="friends-tab">

        </div>
        <div class="tab-pane" id="received-tab">
			
        </div>
        <div class="tab-pane" id="sended-tab">
                        
        </div>        
        <div class="tab-pane" id="search-tab">
			<input id="usernameInput" />

			<div id="resultContainer" class="d-flex flex-column h-100"></div>


        </div>
    </div>
</div>



@section Scripts{
    <script src="~/js/friends.js"></script>
}