@model TopViewModel

<table class="table">
    <thead>
        <tr>
            <th>UserName</th>
            <th>Reputation</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model.Top)
        {
            <tr>
                <td>@user.UserName @if (user.Id == Model.CurrentPlayer.Id)
                    {
                        <span class="isYou">(You)</span>
                    }
                </td>
                <td>@user.Reputation</td>
            </tr>
        }
    </tbody>
</table>