@{
	ViewData["Title"] = "Game Page";
}


<body id="ht">
	<!-- astea 2 sunt puse ca indexarea claselor sa inceapa de la 1 -->
	<div class="checker white_checker" style="display:none"> </div>
	<div class="checker black_checker" style="display:none"> </div>


	<div class="square" style="display: none" id="ht"> </div>
	<div class="black_background" id="black_background"> </div>

	<div class="score" id="score">
		<br>
	</div>
	<div class="table" id="table">

		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>

		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>


		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

	</div>

	<button id="joinGameButton1">Connection1</button>
	<button id="joinGameButton2">Connection2</button>

	<audio id="moveSound">
		<source src="sounds/move.mp3">
	</audio>
	<audio id="winSound">
		<source src="sounds/win.mp3">
	</audio>
</body>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.7/signalr.min.js" integrity="sha512-w8K//0QrLkzgScjZIiDUHnxcDoKGGqy/OLa3X0PuRA6ZlZnwUCgaM26ro3ZFZ0AGElA+0SThNpsXNx2sCm5VuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="~/js/check.js"></script>
}
