@using Models.ViewModels
@model GameIndexViewModel

<div class="row">
	<h3>Your friends:</h3>
	@if(Model.Friends.Count == 0)
	{
		<p>No friends... Find them on the <a asp-area="Game" asp-controller="Friends" asp-action="Index">friend page</a>!</p>
	}
	<hr />
	@foreach(var friend in Model.Friends){	
	<div class="w-100 d-flex justify-content-">
								
			<p>@friend.User.UserName</p>
		
			@if (friend.MatchId == null)
			{
				<form method="post" asp-area="Game" asp-controller="Match" asp-action="CreateMatch" asp-route-oponentId="@friend.User.Id">
					<button class="btn btn-success" type="submit">Invite</button>
				</form>
			}
			else
			{
				<a class="btn btn-info" asp-area="Game" asp-controller="Match" asp-action="GameLobby" asp-route-id="@friend.MatchId">Join</a>
			}

		</div>
	

}
</div>
