@model GameIndexViewModel


@foreach(var friend in Model.Friends){
	<form method="post" asp-area="Game" asp-controller="Match" asp-action="CreateMatch" asp-route-oponentId="@friend.Id">
		<button type="submit">Invite @friend.UserName</button>
	</form>
}

