@{
	ViewData["Title"] = "Game Page";
}


<div id="ht">

	<!-- astea 2 sunt puse ca indexarea claselor sa inceapa de la 1 -->
	<div class="checker white_checker" style="display:none"> </div>
	<div class="checker black_checker" style="display:none"> </div>


	<div class="square" style="display: none" id="ht"> </div>
	<div class="black_background" id="black_background"> </div>

	<div class="score" id="score">
		
	</div>
	<div class="container mb-4 w-100 d-flex flex-column align-items-center text-center" style="position:relative; height:100px">
		<p id="playerMoveText"></p>
		<div class="move_checker move_white_checker" id="moveDisplay"> </div>
	</div>

	<div class="table" id="table">

		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>
		<div class="checker white_checker"> </div>

		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>
		<div class="checker black_checker"> </div>


		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="clear_float"> </div>

		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="square white_square"> </div>
		<div class="square black_square"> </div>
		<div class="clear_float"> </div>

	</div>
	<div class="text-center">
		<button class="btn btn-danger w-25 m-4" onclick="giveUp()">Give Up</button>
	</div>
	
	<audio id="moveSound">
		<source src="sounds/move.mp3">
	</audio>
	<audio id="winSound">
		<source src="sounds/win.mp3">
	</audio>
</div>

@section Scripts {
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.7/signalr.min.js" integrity="sha512-w8K//0QrLkzgScjZIiDUHnxcDoKGGqy/OLa3X0PuRA6ZlZnwUCgaM26ro3ZFZ0AGElA+0SThNpsXNx2sCm5VuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript" src="~/js/check.js"></script>
}
